@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&family=Berkshire+Swash&display=swap');
body{
    background-color: rgb(146, 18, 18);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
    cursor:url(./img/christmas_tree_PNG12.png),auto;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.letra1 ,.letra2, .letra3{
    display: flex;
    font-family: "Berkshire Swash", serif;
    align-items: center;
    justify-content: center;
}

.letra1 p, .letra2 p, .letra3 p{
    font-size: 150px;
    margin: 0;
}

.letra1 div, .letra2 div, .letra3 div{
    width: 200px;
}

.letra1 img, .letra2 img, .letra3 img{
    max-width: 100%;
}

/* MENSAJE */
.mensaje, .slogan{
    font-size: 80px; 
    font-family: "Almendra", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.feliz{
    margin: 0;
    font-family: monospace;
    white-space:nowrap;
    border-right: 7px solid;
    width: 14ch;
    animation:blink 0.5s infinite step-end alternate, escritura 2s steps(14);
    overflow: hidden;
    display: inline-block; /* Necesario para respetar el centrado */
}


.eag_slogan{
  margin: 0;
  font-family: monospace;
  border-right: 7px solid;
  white-space:nowrap;
  width: 33ch;
  animation:blink 0.5s infinite step-end alternate, escritura2 5s steps(33) 2.5s forwards;
  overflow: hidden;
  opacity: 0;
  display: inline-block; /*Necesario para respetar el centrado*/
}


@keyframes blink{
  50%{border-color: transparent;}
}

@keyframes escritura{
  from{
    width: 0;
    
  }
}

@keyframes escritura2{
  from{
    width: 0;
    opacity: 1;
  }to{
    opacity: 1;
  }
}

@keyframes opacidad{
  from{
    opacity: 0;
  }to{
    opacity: 1;
  }
}





.container.show {
  margin-left: 80px;
  opacity: 0;
  display: flex; /* Cambiar a display: flex cuando la animación termine */
  animation:opa linear 0.5s forwards;
}

@keyframes opa{
  from{
    opacity:0;
  }to{
    opacity:1;
  }
}



/* SNOW */
.snow {
    opacity: 60%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 120%;
    height: 100%;
    pointer-events: none;
    animation: snow-direction cubic-bezier(2, 0, 2, 1) 4s both alternate infinite;
  }
  
  @keyframes snow-direction {
    from {
      transform: translateX(-10%);
    }
    to {
      transform: translateX(10%);
    }
  }
  
  .snow:before,
  .snow:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    filter: blur(1px);
    animation: snow 10s linear infinite;
    box-shadow:
      -5vw 10vh #fff,
      30vw 5vh #fff,
      55vw 5vh #fff,
      75vw 10vh #fff,
      105vw 15vh #fff,
      -10vw 30vh #fff,
      40vw 25vh #fff,
      60vw 20vh #fff,
      90vw 25vh #fff,
      20vw 40vh #fff,
      5vw 45vh #fff,
      65vw 45vh #fff,
      105vw 40vh #fff,
      50vw 50vh #fff,    
      30vw 50vh #fff,
      10vw 55vh #fff,
      20vw 60vh #fff,
      40vw 65vh #fff,
      60vw 60vh #fff,
      80vw 65vh #fff,
      5vw 70vh #fff,
      30vw 75vh #fff,
      55vw 85vh #fff,
      75vw 80vh #fff,
      105vw 75vh #fff,
      20vw 90vh #fff,
      -5vw 95vh #fff,
      65vw 95vh #fff,
      100vw 90vh #fff,
      
      -5vw 110vh #fff,
      30vw 105vh #fff,
      55vw 105vh #fff,
      75vw 110vh #fff,
      105vw 115vh #fff,
      -10vw 130vh #fff,
      40vw 125vh #fff,
      60vw 120vh #fff,
      90vw 125vh #fff,
      20vw 140vh #fff,
      5vw 145vh #fff,
      65vw 145vh #fff,
      105vw 140vh #fff,
      50vw 150vh #fff,    
      30vw 150vh #fff,
      10vw 155vh #fff,
      20vw 160vh #fff,
      40vw 165vh #fff,
      60vw 160vh #fff,
      80vw 165vh #fff,
      5vw 170vh #fff,
      30vw 175vh #fff,
      55vw 185vh #fff,
      75vw 180vh #fff,
      105vw 175vh #fff,
      20vw 190vh #fff,
      -5vw 195vh #fff,
      65vw 195vh #fff,
      100vw 190vh #fff;
  }
  
  .snow:after {
    position: absolute;
    left: 50px;
    top: 60px;
    animation-duration: 6s;
    width: 8px;
    height: 8px;
    opacity: 0.7;
    filter: blur(3px);
  }
  
  @keyframes snow {
    from {
      transform: rotate(10deg) translateY(-100vh);
    }
    to {
      transform: rotate(10deg) translateY(0);
    }
  }
